<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- COURSES LIST -->
        <mat-list>
          <mat-list-item
            *ngFor="let course of courses"
            (click)="selectCourse(course)"
          >
            <h3 matLine>{{ course.title }}</h3>
            <p matLine>{{ course.description }}</p>
            <button
              mat-icon-button
              color="warn"
              (click)="
                deleteCourse(course.id); $event.immediateStopPropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
            <!-- <p>{{ course.percentComplete }} % durchgeführt</p> -->
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Selected Course </mat-card-title>
      </mat-card-header>
      <form #form="ngForm" (submit)="saveCourse(selectedCourse.id)">
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              required
              placeholder="Title"
              type="text"
              name="title"
              [(ngModel)]="selectedCourse.title"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Description"
              type="text"
              name="description"
              [(ngModel)]="selectedCourse.description"
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- COURSE ACTIONS -->
          <button
            type="submit"
            [disabled]="form.invalid"
            mat-button
            color="primary"
          >
            Save
          </button>
          <button type="button" mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
