<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="changeCourse.id; else noSelection">{{
        changeCourse.title
      }}</span>
      <ng-template #noSelection>Select Course</ng-template>
    </mat-card-title>
  </mat-card-header>
  <form #form="ngForm" (submit)="saveCourse.emit(changeCourse)">
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Title"
          type="text"
          name="title"
          required
          [(ngModel)]="changeCourse.title"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Description"
          type="text"
          name="description"
          [(ngModel)]="changeCourse.description"
        />
      </mat-form-field>
      <section>
        <h4>{{ changeCourse.percentComplete }}% Complete</h4>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          name="percentComplete"
          thumbLabel
          [(ngModel)]="changeCourse.percentComplete"
        >
        </mat-slider>
      </section>
      <section></section>
      <mat-checkbox
        name="favorite"
        [(ngModel)]="changeCourse.favorite"
      ></mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        type="submit"
        mat-button
        color="primary"
      >
        Submit
      </button>
      <button type="button" mat-button (click)="cancel.emit()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
